@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/heavitas');
@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body
{
  background-color: #F9F9F9;
  margin: 0;
  padding: 0;
}

h1, h2, h3, button
{
  font-family: 'Heavitas', sans-serif;
}

input
{
  font-family: 'Nunito', sans-serif;
}

nav
{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}



